div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    width: 150px;
    margin: 15px;
  }

  a {
    color: #e8e8e7;
    text-decoration: none;
  }

}

.search-container {
  margin-left: auto;
}
