<h1> The list of pokemon types </h1>

<div class="row">

  <div class="card">
    <div class="fighting">
      <a [routerLink]="['/pokemon/type/fighting']" >Fighting</a>
    </div>
  </div>

  <div class="card">
    <div class="flying">
      <a [routerLink]="['/pokemon/type/flying']" >Flying</a>
    </div>
  </div>

  <div class="card">
    <div class="poison">
      <a [routerLink]="['/pokemon/type/poison']" >Poison</a>
    </div>
  </div>

  <div class="card">
    <div class="ground">
      <a [routerLink]="['/pokemon/type/ground']" >Ground</a>
    </div>
  </div>

  <div class="card">
    <div class="rock">
      <a [routerLink]="['/pokemon/type/rock']" >Rock</a>
    </div>
  </div>

  <div class="card">
    <div class="bug">
      <a [routerLink]="['/pokemon/type/bug']" >Bug</a>
    </div>
  </div>

  <div class="card">
    <div class="ghost">
      <a [routerLink]="['/pokemon/type/ghost']" >Ghost</a>
    </div>
  </div>

  <div class="card">
    <div class="steel">
      <a [routerLink]="['/pokemon/type/steel']" >Steel</a>
    </div>
  </div>

  <div class="card">
    <div class="fire">
      <a [routerLink]="['/pokemon/type/fire']" >Fire</a>
    </div>
  </div>

  <div class="card">
    <div class="water">
      <a [routerLink]="['/pokemon/type/water']" >Water</a>
    </div>
  </div>

  <div class="card">
    <div class="grass">
      <a [routerLink]="['/pokemon/type/grass']" >Grass</a>
    </div>
  </div>

  <div class="card">
    <div class="electric">
      <a [routerLink]="['/pokemon/type/electric']" >Electric</a>
    </div>
  </div>

  <div class="card">
    <div class="psychic">
      <a [routerLink]="['/pokemon/type/psychic']" >Psychic</a>
    </div>
  </div>

  <div class="card">
    <div class="ice">
      <a [routerLink]="['/pokemon/type/ice']" >Ice</a>
    </div>
  </div>

  <div class="card">
    <div class="dragon">
      <a [routerLink]="['/pokemon/type/dragon']" >Dragon</a>
    </div>
  </div>

  <div class="card">
    <div class="dark">
      <a [routerLink]="['/pokemon/type/dark']" >Dark</a>
    </div>
  </div>

  <div class="card">
    <div class="fairy">
      <a [routerLink]="['/pokemon/type/fairy']" >Fairy</a>
    </div>
  </div>

  <div class="card">
    <div class="normal">
      <a [routerLink]="['/pokemon/type/normal']" >Normal</a>
    </div>
  </div>


</div>


<!--<div class="pokemon-card" *ngFor="let pokemon of fightingPokemons">-->
<!--  <h3>{{ pokemon.name }}</h3>-->
<!--  &lt;!&ndash; You can display additional details if needed &ndash;&gt;-->
<!--</div>-->
