<h3>Pokémon rouge</h3>
<!--<ul *ngFor="let pokemon of pokemonColor?.pokemon_species">-->
<!--  <li> {{ pokemon.name}} </li>-->
<!--  <li> {{ pokemon.url}} </li>-->
<!--</ul>-->

<div class="grid-container">
  <div class="grid-item"  *ngFor="let pokemon of pokemonColor?.pokemon_species">
    <div class="w3-container">
      <h2>{{pokemon.name}}</h2>

      <div class="w3-card-4" style="width:50%">
        <img src="img_snowtops.jpg" alt="image ici" style="width:100%">
        <div class="w3-container w3-center">
          <p> taille </p>
          <p> poids </p>
        </div>
      </div>
    </div>
  </div>

</div>


<!--<ul *ngFor="let pokemon of pokemonColor?.varieties">-->
<!--  <li>ici</li>-->
<!--  <li> {{ pokemon.pokemon.url.length}} </li>-->
<!--</ul>-->
