<div id="pokedex">
  <div id="left">
    <div id="logo"></div>
    <div id="bg_curve1_left"></div>
    <div id="bg_curve2_left"></div>
    <div id="curve1_left">
      <div id="buttonGlass">
        <div id="reflect"> </div>
      </div>
      <div id="miniButtonGlass1"></div>
      <div id="miniButtonGlass2"></div>
      <div id="miniButtonGlass3"></div>
    </div>
    <div id="curve2_left">
      <div id="junction">
        <div id="junction1"></div>
        <div id="junction2"></div>
      </div>
    </div>
    <div id="screen">
      <div id="topPicture">
        <div id="buttontopPicture1"></div>
        <div id="buttontopPicture2"></div>
      </div>
      <div id="picture">
        <img *ngIf="showImage" [src]="pokemon.sprites.front_default " alt=" {{ pokemon.name }} " height="170" />
        <img *ngIf="!showImage"  [src]="pokemon.sprites.back_default " alt=" {{ pokemon.name }} " height="170" />
      </div>
      <div id="buttonbottomPicture"></div>
      <div id="speakers">
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
      </div>
    </div>
    <div id="bigbluebutton"></div>
    <div id="barbutton1"></div>
    <div id="barbutton2"></div>
    <div id="cross">
      <!--  <div id="leftcross">-->
      <!--    <div id="leftT" (click)="clickLess()"></div>-->
      <!--  </div>-->
      <a [routerLink]="['/pokedex', pokemon.id - 1]">
        <div id="leftcross" >
          <div id="leftT" *ngIf="pokemon.id >1"></div>
        </div>
      </a>
      <div id="topcross" (click)="changeImage(true)">
        <div id="upT"></div>
      </div>
      <!--  <div id="rightcross"> -->
      <!--    <div id="rightT" (click)="clickMore()"></div> -->
      <!--  </div> -->
      <a [routerLink]="['/pokedex', pokemon.id + 1]">
        <div id="rightcross">
          <div id="rightT"></div>
        </div>
      </a>
      <div id="midcross">
        <div id="midCircle"></div>
      </div>
      <div id="botcross" (click)="changeImage(false)">
        <div id="downT"></div>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="stats">
      <strong> {{ pokemon.name }}  </strong><br/>
      <br>
      <strong>Type:</strong> {{ pokemon.types["0"].type.name }} <br/>
      <strong>Height:</strong> {{ pokemon.height }} <br/>
      <strong>Weight:</strong> {{ pokemon.weight }} <br/><br/>
    </div>

    <div id="theButtons1">
      <a [routerLink]="['/pokemon/', { color: 'blue' }]" (click)="updateColor('blue')" >
        <div class="blueButton" ></div>
      </a>
      <a [routerLink]="['/pokemon/', { color: 'green' }]" (click)="updateColor('green')">
        <div class="greenButton"></div>
      </a>

      <a [routerLink]="['/pokemon/', { color: 'yellow' }]" (click)="updateColor('yellow')">
        <div class="yellowButton"></div>
      </a>
      <a [routerLink]="['/pokemon/', { color: 'red' }]" (click)="updateColor('red')" >
        <div class="redButton"></div>
      </a>
      <div class="blueButton"></div>
    </div>

    <div id="blueButtons2">
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
    </div>

    <div id="miniButtonGlass4"></div>
    <div id="miniButtonGlass5"></div>
    <div id="barbutton3"></div>
    <div id="barbutton4"></div>
    <div id="greenBox1"></div>
    <div id="greenBox2"></div>
    <div id="bg_curve1_right"></div>
    <div id="bg_curve2_right"></div>
    <div id="curve1_right"></div>
    <div id="curve2_right"></div>
  </div>
</div>
